services:
  frontend:
    image: ghcr.io/sasamile/front-vekino:latest
    container_name: my-app-frontend
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
